*{
    margin: auto;
    padding: 0%;
    box-sizing: border-box;
}
h1{
    margin: auto;
    padding: 20px 20px 20px 20px;
    background-color: aquamarine;
    max-width: fit-content;
}
img{
    width: 400px;
    height: 400px;
}
marquee{
    background-color: aquamarine;
    text-decoration-color: black;
    
}